/* CSS Reset by Andy Bell */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles (bullets/numbers) */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove default padding */
figure,
blockquote,
dl,
dd,
p {
  padding: 0;
}

/* Set default font size and line height */
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Lato", sans-serif; /* Added Lato font family */
  background-color: #fff9ec;
}

/* Remove border outline on focused elements */
button,
input,
textarea,
select,
a {
  outline: none;
}

/* Remove text decoration on links */
a {
  text-decoration: none;
}

/* end of css reset */

/* start of styles */
header {
  text-align: center;
  margin-bottom: 2rem;
}
main {
  max-width: 1000px;
  margin: 2rem auto;
}

.matrix {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.matrix__quadrant {
  border: 1px solid #000;
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.matrix__quadrant--important-urgent {
  background-color: #73e9d4;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.matrix__quadrant--important-not-urgent {
  background-color: #7393e9;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.matrix__quadrant--not-important-urgent {
  background-color: #b473e9;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.matrix__quadrant--not-important-not-urgent {
  background-color: #e973b4;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

footer {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer a {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .matrix {
    grid-template-columns: 1fr;
  }
  .matrix__quadrant {
    margin: 0.5rem;
  }
}
